<div class="header-wrapper">
    <div class="header-logo">
        <img src="./../../assets/img/text-logo.png">
    </div>
    <div class="header-input">
        <input type="text" placeholder="Code learning durchsuchen">
        <img src="./../../assets/img/search.png">
    </div>
    <div class="header-profil" (click)="headerDropdownMenu()">
        <!-- <p>{{ firebase.name }}</p> -->
        <img class="profil-img" src="./../../assets/img/profile-1.png">
        <img class="logout-img" src="./../../assets/img/keyboard-arrow-down-black.png">
    </div>
</div>