.forgot-pwd-container {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 0;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Nunito" !important;
  gap: 24px;

}

.header {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  .logo {
    object-fit: contain;
  }
}


.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .login-container {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    padding: 2rem 2.3rem 2rem 2.3rem;
    position: relative;

    .arrow-left {
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow-left-img {
        margin-top: 1rem;
        width: 24px;
        height: 24px;
        background-image: url('./../../../assets/img/arrow-left-light.png');
      }

      &:hover {
        background-color: #eceefe;

        .arrow-left-img {
          background-image: url('./../../../assets/img/arrow-left-light-blue.png');
        }
      }
    }

    .login-header {
      text-align: center;
      display: flex !important;

      h1 {
        color: var(--primary);
        font-weight: 700;
        margin-bottom: 1rem;
      }

      span {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.6rem;

  input {
    border-radius: 5rem;
    background-color: #eceefe;
    outline: none;
    border: none;
    padding: 1.125rem 1.125rem;
    font-size: 1rem;
    font-family: var(--main-font);
    text-indent: 3.375rem;
    width: 100%;
    border: .0625rem solid transparent;

    &:hover {
      border: .0625rem solid #686868;
    }

    &:focus {
      border: .0625rem solid #535AF1;
    }
  }

  .name-field,
  .email-field,
  .password-field {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    img {
      position: absolute;
      left: 2rem;
    }
  }
}


.txt-form {
  text-align: center;
  color: #686868;
  margin-bottom: 2rem;
}

.send-btn {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding: 12px 25px;
    color: white;
  }
}

.send-btn button:disabled {
  background-color: #686868;
  cursor: not-allowed;
}

mat-error {
  color: red;
  position: absolute;
  bottom: -20px;
  font-size: 0.7rem
}

@media (max-width: 1024px) {
  .header {
    justify-content: center;
  }

  .login-wrapper {
    margin-top: 7.1875rem;
    height: 33%;
  }

  .forgot-pwd-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.1875rem;
  }
}

@media (max-width: 550px) {
  .login-container {
    padding: 1rem 1.3rem 1rem 1.3rem !important;
  }

  .arrow-left {
    width: 1.5rem !important;
    height: 2rem !important;
  }
}

@media(max-width: 470px) {
  .email-field {
    input {
      text-indent: 2rem;
      font-size: .875rem;
    }

    img {
      left: 1rem !important;
    }
  }

  .container-txt {
    h1{
      font-size: 1.875rem !important;
    }
    span{
      font-size: .875rem !important;
    }
    font-size: .875rem !important;
  }

  .txt-form {
    font-size: .875rem !important;
  }
}