<div class="forgot-pwd-container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
  </div>
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-header">
        <div class="login-arr">
          <a class="arrow-left" routerLink="/">
            <div class="arrow-left-img"></div>
          </a>
        </div>
        <div class="container-txt">
          <h1>Passwort zurücksetzen</h1>
          <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        </div>
      </div>

      <form class="form-login" [formGroup]="emailForm">
        <div class="email-field">
          <input
            class="email"
            type="email"
            placeholder="beispielname@gmail.com"
            matInput
            formControlName="email"
          />
          <img src="../../../assets/img/mail-grey.png" />
          <mat-error
            *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.errors?.['required']"
          >
            *Diese E-Mail-Adresse ist leider ungültig.
          </mat-error>
        </div>

        <span class="txt-form"
          >Wir senden Ihnen eine E-mail, über die <br />Sie Ihr Passwort ändern
          können.</span
        >

        <div class="send-btn">
          <button [disabled]="!emailForm.valid" (click)="sendResetEmail()">E-Mail senden</button>
        </div>
      </form>
    </div>
  </div>
</div>
