.thread-view {
  margin-top: 20px;
  height: calc(100vh - 140px);
  background: var(--white);
  border-radius: 30px;
  display: flex;
  width: 340px;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 20px;
  position: relative;

  .thread-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 35.5px 40px;
    box-sizing: border-box;
    height: 96px;
    align-items: center;
    .left-thread-side {
      display: flex;
      align-items: center;
      gap: 5px;
      .fs14 {
        color: var(--secondary);
      }
    }
  }
}

.right-thread-side {
  cursor: pointer;
}

app-message-layout-thread {
  position: relative;
  margin-top: auto;
  display: flex;
  margin-bottom: 38px;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-drawer-container {
  visibility: hidden;
}

mat-drawer {
  overflow-x: hidden;
  box-shadow: none;
}

.cross-icon {
  background-image: url("./../../../assets/img/cross-black.png");
  background-size: 1.5rem 1.5rem; // 24px
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  width: 2.5rem; // 40px
  height: 2.5rem;

  &:hover {
    background-color: var(--background-color);
    background-image: url("./../../../assets/img/cross-blue.png");
  }
}

@media (max-width: 980px) {
  .thread-view {
    margin: 0 !important;
    height: calc(100vh - 80px) !important;
    border-radius: 0 !important;
    width: 100vw !important;
    .thread-header {
      width: 100%;
      padding: 32px 40px;
      box-sizing: border-box;
    }
  }
}
