.thread-view{
  margin-top: 20px;
  height: 80vh;
  background: var(--white);
  border-radius: 30px;
  display: flex;
  width: 485px;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
  .thread-header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    width: 83%;
    padding: 32px 40px;
    .left-thread-side{
      display: flex;
      align-items: center;

      h2{
        font-size: 24px;
        font-weight: 700;
      }

      a{
        color:var(--primary);
        font-size: 14px;
      }
    }
  }
}

app-message-layout{
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-bottom: 38px;
  flex-direction: column;
  overflow-y: scroll;
}
