<form class="popup" [formGroup]="addChannelForm" (ngSubmit)="addMember()">

    <div class="spaceBetween horicontal">
        <h4 class="bold">Channel erstellen</h4>
        <div class="icon-size-24 cross-icon" (click)="this.dialogRef.close();">
        </div>
    </div>

    <span class="fs18">
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
    </span>

    <div class="input-box">
        <span class="fs18 bold">Channel-Name</span>
        <div class="input-border horicontal">
            <img src="./../../../assets/img/hashtag-grey.png" class="icon-size-23">
            <input placeholder="z.B. Kooperationsprojekte" formControlName="channelName" required>
        </div>
    </div>

    <div class="input-box">
        <div>
            <span class="fs18 bold">Beschreibung&nbsp;</span>
            <span class="fs18 optional-text">(optional)</span>
        </div>

        <div class="input-border horicontal">
            <input placeholder="Dein Text hier" formControlName="channelDescription">
        </div>
    </div>

    <div class="dFlex spaceBetween">
        <div></div>
        <button class="create" type="submit">Erstellen</button>
    </div>

</form>