.desktop-view {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;

  .private-chat-container {
    flex-grow: 1;
    margin-top: 20px;
    height: 80vh;
    background: var(--white);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header-chat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      padding: 25px 45px;
      box-sizing: border-box;
      box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.08);

      .left-side-header {
        display: flex;
        flex-direction: column;
        gap: 0.8125rem; // 13px

        .hashtag-and-name {
          gap: 0.9375rem; // 15px
          padding: 0.5rem 0.25rem; // 8px 4px
          cursor: pointer;
          border-radius: 1.875rem; // 30px

          &:hover {
            color: var(--purple);
            background-color: var(--background-color);
            .hashtag {
              background-image: url("./../../assets/img/hashtag-blue.png");
            }
            .arrow-down-img {
              background-image: url("./../../assets/img/keyboard-arrow-down-blue.png");
            }
          }
        }
      }
    }
  }
}

.profile-img-and-status {
  width: 3.125rem; // 50px
  height: 3.125rem;
  position: relative;

  .status {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 0 2px var(--background-color), 0 0 0 2px var(--background-color);
    border-radius: 100%;
    width: 0.875rem; // 14px
    height: 0.875rem; // 14px
  }
}

app-message-layout-pc {
  position: relative;
  margin-top: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  max-height: 60vh;
  margin-bottom: 38px;
}

.user-img {
  border-radius: 100% !important; // 30px
}

.empty-pc-content {
  margin-bottom: 25px;
  margin-left: 45px;
}

.name-pimg {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
  gap: 21px;
  .user-pimg {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  p {
    font-size: 21px;
    font-size: 800;
  }
}

.chat-partner{
  color: var(--purple);
  cursor: pointer;
  text-align: center;
  &:hover{
    font-weight: 700;
  }
}
