<app-header ></app-header>

<div class="desktop-view">
  <app-side-nav ></app-side-nav>

  <section class="private-chat-container">
    <header class="header-chat">

      <div class="left-side-header">
          <div class="hashtag-and-name horicontal" (click)="showProfile(selectedUserName)">
            <div class="profile-img-and-status">
              <img class="icon-size-50 user-img" [src]="selectedUserImage">
              <img
                [src]="
                  selectedUserStatus
                    ? './../../../assets/img/online.png'
                    : './../../../assets/img/offline.png'
                "
                class="status"
              />
            </div>
            <h4 class="channel-name bold">{{ selectedUserName }}</h4>
        </div>
      </div>
    </header>

    <!-- message layout -->
    <app-message-layout-pc class="scroll-bar"></app-message-layout-pc>

    <div class="empty-pc-content"  *ngIf="(messages$ | async) as messages">
      <ng-container *ngIf="messages.length === 0">
        <div class="name-pimg">
          <img class="user-pimg" [src]="selectedUserImage" (click)="showProfile(selectedUserName)">
          <h4 class="bold" (click)="showProfile(selectedUserName)">{{ selectedUserName }}</h4>
        </div>
        <h3  class="horicontal">Diese Unterhaltung findet nur zwischen<h3 (click)="showProfile(selectedUserName)" class="chat-partner">&nbsp;&commat;{{ selectedUserName }}&nbsp;</h3>und dir statt.</h3>
      </ng-container>
    </div>

<!-- message-box -->
    <app-message-box-pc></app-message-box-pc>
  </section>
</div>
