.sidenav-wrapper {
    display: flex;
    height: 80vh;
    top: 1.25rem;
    background: var(--Bg-color, #ECEEFE);
    position: relative;
}

.sidenav-container {
    border-radius: 1.875rem;
    margin-left: 1.25rem;
    padding: 2rem 1.875rem;


    .channel-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 19.125rem;
        padding-bottom: 1.5625rem;

        p {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

.sidenav-button {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 9.5rem;
    display: flex;
    justify-content: center;
    writing-mode: vertical-lr;
    height: 21.6875rem;
    width: 3.125rem;
    align-items: center;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border: unset;
    background: var(--White, #FFF);
    box-shadow: .25rem .25rem .4375rem #0003;
    cursor: pointer;

    button {
        transform: rotate(180deg);
        background: var(--White, #FFF);
        border: none;
        font-size: 1.25rem;

        &:hover {
            color: #535AF1;
            font-weight: 600;
        }
    }
}


.channels-content {
    display: flex;
    width: 19.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
}

.choose-channels {
    display: flex;
    padding: .1875rem 0rem;
    justify-content: space-between;
    align-self: stretch;
    flex-direction: column;
    gap: 1.5625rem;

    .choose-channel {
        display: flex;
        justify-content: space-between;
        padding: .3125rem .625rem .3125rem 0rem;
        align-items: center;
        gap: .9375rem;

        .open-channel {
            display: flex;
            gap: .9375rem;
            align-items: center;

            .channel-title {
                display: flex;
                gap: .625rem;

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                p {
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }

            &:hover {
                color: #535AF1;
                cursor: pointer;
            }
        }

        .plus-channel {
            &:hover {
                cursor: pointer;
                // color: #535AF1;
                // background: var(--White, #FFF);
            }
        }

    }
}

.channel-overview {
    display: flex;
    padding: .25rem 2.8125rem;
    align-items: center;
    gap: .625rem;

    p {
        color: var(--Purple-3, #535AF1);
        font-size: 1.125rem;
        font-weight: 700;
    }
}

.add-channel {
    display: flex;
    padding: .25rem 2.825rem;
    align-items: center;
    gap: .625rem;

    p {
        font-size: 1.125rem;
        font-weight: 25rem;
    }

    &:hover {
        color: #535AF1;
        cursor: pointer;
    }
}

.messages-container {
    display: flex;
    gap: 1.5625rem;
    flex-direction: column;

    .messages-header {
        display: flex;
        padding: .3125rem .625rem .3125rem 0rem;
        align-items: center;
        gap: .9375rem;

        p {
            font-size: 1.25rem;
            font-weight: 700;
        }

        &:hover {
            color: #535AF1;
            cursor: pointer;
        }
    }

    .messages-users {
        display: flex;
        flex-direction: column;
        gap: .8125rem;
        padding: 0rem 0rem 0rem 1.5625rem;
       

        .messages-user {
            display: flex;
            gap: .9375rem;
            padding: .25rem 1.25rem .25rem 1.25rem;
            align-items: center;
            border-radius: 1.875rem;
            transition: background-color 100ms ease-in;

            &:message-opened{
                background-color: #535AF1;
            }

            img {
                border-radius: 1.875rem;
                width: 3.125rem;
                height: 3.125rem;
            }

            p{
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

    }


}