<mat-drawer-container
  class="sidenav-wrapper"
  [ngClass]="{
    'with-margin': sideNavBtnStatus,
    'without-margin': !sideNavBtnStatus,
    'hideForMobile': drawerService.isSelectedForMobile
  }"
  autosize
  opened
  disableClose="true"
>
  <mat-drawer #drawer class="sidenav-container" mode="side" opened="true">
    <div class="horicontal spaceBetween side-nav-header">
      <div class="channel-header-left horicontal">
        <img src="./../../assets/img/channel-logo.png" />
        <h4 class="bold">Code learning</h4>
      </div>
      <div class="add-channel-img" (click)="routeToDistribute()"></div>
    </div>

    <div class="channels-content column">
      <div class="horicontal spaceBetween channel-dropdown">
        <div
          (click)="toggleRotationChannel()"
          class="open-channel horicontal"
          (mouseenter)="changeImagesChannel(true)"
          (mouseleave)="changeImagesChannel(false)"
        >
          <img
            [@rotateAnimation]="isOpen ? 'open' : 'closed'"
            [src]="openMenuChannel"
          />
          <div class="channel-title horicontal">
            <img [src]="workspaceChannel" class="icon-size-24" />
            <h3 class="bold">Channels</h3>
          </div>
        </div>
        <div class="add-channel-plus-img" (click)="openAddChannels()"></div>
      </div>
      
      <div *ngIf="!isOpen" class="add-channel">
        <div class="custom-scroll-box scroll-bar">
          <div
            class="channel-area"
            [ngStyle]="{
              display: firebase.channelsArray.length === 0 ? 'none' : 'flex'
            }"
          >
            <div
              *ngFor="let channel of firebase.currentUserWithRights"
              class="channel"
              (click)="selectChannel('channel', 'D67s4fa5cA1KoJPzjRJd')"
            >
              <div
                *ngIf="channel.channelId === 'D67s4fa5cA1KoJPzjRJd'"
                class="hashtag-and-name horicontal channel-distance-welcome"
                [ngClass]="{
                  channelIsActive:
                    channel.channelId === firebase.currentChannelId
                }"
              >
                <div class="icon-size-24 hashtag"></div>
                <span
                  class="fs18 channel-name"
                  *ngIf="channel.channelId === 'D67s4fa5cA1KoJPzjRJd'"
                  >{{ channel.channelName }}</span
                >
              </div>
            </div>

            <div class="column" style="gap:12px">
            <div
              *ngFor="let channel of firebase.currentUserWithRights"
              class="channel"
              (click)="selectChannel('channel', channel.channelId)"
              [ngStyle]="{
                'margin-bottom': channel.channelId === 'D67s4fa5cA1KoJPzjRJd' ? '-13px' : null
              }"
            >
              <div
                class="hashtag-and-name horicontal"
                *ngIf="!(channel.channelId === 'D67s4fa5cA1KoJPzjRJd')"
                [ngClass]="{
                  channelIsActive:
                    channel.channelId === firebase.currentChannelId,
                }" 
              >
                <div class="icon-size-24 hashtag"></div>
                <span
                  class="fs18 channel-name"
                  *ngIf="!(channel.channelId === 'D67s4fa5cA1KoJPzjRJd')"
                  >{{ channel.channelName }}</span
                >
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="horicontal add-channel-text" (click)="openAddChannels()">
        <div class="circle-add-channel-img"></div>
        <span class="fs18">Channel hinzufügen</span>
      </div>
    </div>

    <div class="column">
      <div
        (mouseenter)="changeImageMessages(true)"
        (mouseleave)="changeImageMessages(false)"
        class="horicontal messages-header dropdown"
        (click)="toggleRotationMessage()"
      >
        <div class="horicontal">
          <img
            [@rotateAnimation]="isOpenSecond ? 'open' : 'closed'"
            [src]="openMenuMessage"
          />
          <img [src]="directNewsImage" class="messages-header-profile-img" />
        </div>
        <h3 class="bold">Direktnachrichten</h3>
      </div>

      <div *ngIf="!isOpenSecond" class="messages-users">
        <div class="custom-scroll-box scroll-bar">
          <div class="members-list-box" *ngIf="!isOpenSecond">
            <div
              class="members-list horicontal"
              *ngFor="let loggedInUser of firebase.loggedInUserArray"
              (click)="selectChannel('privateChat', loggedInUser)"
              [ngClass]="{
                privateChatIsActive: comparePrivateChatId(loggedInUser.userId)
              }"
            >
              <div class="profile-img-and-status">
                <div
                  [style.background-image]="
                    'url(' + loggedInUser.profileImg + ')'
                  "
                  class="profile-img"
                ></div>
                <img
                  [src]="
                    loggedInUser.status
                      ? './../../../assets/img/online.png'
                      : './../../../assets/img/offline.png'
                  "
                  class="status"
                />
              </div>

              <span class="fs18 userName maxNameLenth"
                >{{ loggedInUser.name }} (Du)</span
              >
            </div>
            
            <ng-container *ngFor="let user of firebase.usersArray">
              <div
                class="members-list horicontal"
                *ngIf="user.userId !== firebase.loggedInUserId"
                (click)="selectChannel('privateChat', user)"
                [ngClass]="{
                  privateChatIsActive: comparePrivateChatId(user.userId)
                }"
              >
                <div class="profile-img-and-status">
                  <div
                    [style.background-image]="'url(' + user.profileImg + ')'"
                    class="profile-img"
                  ></div>
                  <img
                    [src]="
                      user.status
                        ? './../../../assets/img/online.png'
                        : './../../../assets/img/offline.png'
                    "
                    class="status"
                  />
                </div>

                <span class="fs18 userName maxNameLenth">{{ user.name }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <button class="message-to-all-mobile dNone boxShadow"  (click)="routeToDistribute()">
          <img src="./../../assets/img/edit-channel-white.png" class="icon-size-24">
        </button>

      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>

<div class="sidenav-button">
  <button
    class="horicontal"
    type="button"
    mat-button
    (click)="drawer.toggle(); checkSideNavBtnStatus()"
    (mouseenter)="changeImagesButton(true)"
    (mouseleave)="changeImagesButton(false)"
  >
    <h4 class="close-btn-text">Workspace-Menü schließen</h4>
    <img [src]="buttonImage" />
  </button>
</div>
