<mat-drawer-container class="sidenav-wrapper" autosize>
    <mat-drawer #drawer class="sidenav-container" mode="side">    
            <div class="channel-header">
                <img src="./../../assets/img/channel-logo.png">
                <p>Code learning</p>
                <img src="./../../assets/img/edit-channel.png" alt="">
            </div>
            <div class="channels-content">
                <div class="choose-channels">
                    <div class="choose-channel">
                        <img src="./../../assets/img/arrow-drop-down-black.png">
                        <img src="./../../assets/img/workspaces-black.png">
                        <p>Channels</p>
                    </div>
                    <img src="./../../assets/img/plus-black.png">
                </div>
                <div class="channel-overview">
                    <img src="./../../assets/img/tag-icon.png">
                    <p>Entwicklerteam</p>
                </div>
                <div class="add-channel">
                    <img src="./../../assets/img/plus-circle-black.png">
                    <p>Channel hinzufügen</p>
                </div>
                <div class="direct-messages"> 
                    <img src="./../../assets/img/arrow-drop-down-black.png">
                    <img src=".//../../assets/img/account-circle-black.png">
                    <p>Direktnachrichten</p>
                </div>
            </div>
       

    </mat-drawer>
</mat-drawer-container>

<div class="sidenav-button">
    <button type="button" mat-button (click)="drawer.toggle()" (mouseenter)="changeImage(true)"
        (mouseleave)="changeImage(false)">
        Workspace-Menü schließen
        <img [src]="buttonImage">
    </button>
</div>