<div class="popup-position">
    <div class="popup boxShadow">

        <div class="horicontal spaceBetween">
            <h4>Profil</h4>
            <div class="icon">
            </div>

        </div>

        <div class="profile-img-position">
            <img src="./../../../assets/img/profile-1.png" class="profile-img">
        </div>

        <div class="name-and-status">
            <h2 class="bold">Noah Braun</h2>
            <div class="horicontal status">
                <img [src]="onlineStatus ? './../../../assets/img/online.png' : './../../../assets/img/offline.png'">
                <h5>{{ onlineStatus ? 'Online' : 'Abwesend' }}</h5>
            </div>
        </div>

        <div class="email-content">
            <div class="email-img-and-email-title horicontal">
                <img src="./../../../assets/img/mail-black.png">
                <h5 class="bold">E-Mail Adresse</h5>
            </div>
            <div class="email fs18">test</div>
        </div>


    </div>

</div>