<div class="popup">

    <div class="horicontal spaceBetween">
        <h4 class="bold">Profil</h4>
        <div class="icon-size-24 cross-icon" (click)="this.dialogRef.close();">
        </div>

    </div>

    <div class="profile-img-position">
        <div [style.background-image]="'url(' + firebase.profileImg + ')'" class="profile-img"></div>
    </div>

    <div class="name-edit-status">
        <div class="horicontal spaceBetween">
            <h2 class="bold">{{ firebase.name }}</h2>
            <span class="fs18 edit" (click)="editProfile()"
                *ngIf="firebase.loggedInUserId !== 'e7zSK07HmreqlBdt7cibNEcjAQW2'">Bearbeiten</span>
            <span class="fs18 edit" *ngIf="firebase.loggedInUserId === 'e7zSK07HmreqlBdt7cibNEcjAQW2'">Edit
                disabled</span>
        </div>

        <div class="horicontal status">
            <img [src]="firebase.status ? './../../../assets/img/online.png' : './../../../assets/img/offline.png'">
            <h5>{{ firebase.status ? 'Online' : 'Abwesend' }}</h5>
        </div>
    </div>

    <div class="email-content" *ngIf="firebase.loggedInUserId !== 'e7zSK07HmreqlBdt7cibNEcjAQW2'">
        <div class="email-img-and-email-title horicontal">
            <img src="./../../../assets/img/mail-black.png">
            <h5 class="bold">E-Mail Adresse</h5>
        </div>
        <a href="mailto:{{ firebase.email }}" class="email fs18">{{ firebase.email }}</a>
    </div>
</div>