<div class="reset-pwd-container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
  </div>
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-header">
        <div class="login-arr">
          <a class="arrow-left" routerLink="/">
            <div class="arrow-left-img"></div>
          </a>
        </div>
        <div class="container-txt">
          <h1>Passwort zurücksetzen</h1>
          <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
        </div>
      </div>

      <form class="form-change-pw" >
        <div class="pw-field">
          <input
            class="passwort"
            type="password"
            placeholder="Neues Passwort"
            matInput
          />

          <input
          class="passwort"
          type="password"
          placeholder="Neues Kennwort bestätigen"
          matInput
        />
        </div>


        <div class="change-pw-btn">
          <button>Passwort ändern</button>
        </div>
      </form>
    </div>
  </div>
</div>
