.reset-pwd-container{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 0;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Nunito" !important;
  gap: 24px;

}

.header {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  .logo {
      object-fit: contain;
  }
}


.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .login-container {
      background-color: white;
      border-radius: 1.5rem;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
      padding: 2rem 2.3rem 2rem 2.3rem;
      position: relative;

      .arrow-left {
          cursor: pointer;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .arrow-left-img {
            margin-top: 1rem;
              width: 24px;
              height: 24px;
              background-image: url('./../../../assets/img/arrow-left-light.png');
          }

          &:hover {
              background-color: #eceefe;

              .arrow-left-img {
                  background-image: url('./../../../assets/img/arrow-left-light-blue.png');
              }
          }
      }

      .login-header {
          text-align: center;
          display: flex !important;

          h1 {
              color: var(--primary);
              font-weight: 700;
              margin-bottom: 1rem ;
          }

          span {
              font-size: 1rem;
              font-weight: 400;
          }
      }
    }}
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1.6rem;

      input {
          border-radius: 5rem;
          background-color: #eceefe;
          outline: none;
          border: none;
          padding: 1.125rem 0.1rem;
          font-size: 1rem;
          font-family: var(--main-font);
          text-indent: 3.375rem;
          width: 100%;
          border: .0625rem solid transparent;
          margin-bottom: 2rem;
          max-width: 400px;
          &:hover {
              border: .0625rem solid #686868;
          }

          &:focus {
              border: .0625rem solid #535AF1;
          }
      }


      .pw-field {
          flex-direction: column;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
      }
  }



  .change-pw-btn{
    display: flex;
    justify-content: flex-end;

    button{
      background-color: #686868;
      border-radius: 25px;
      border: none;
      padding: 12px 25px;
      color: white;
  }
  }
