.desktop-view {
  display: flex;
  margin-bottom: 25px;

  .main-chat {
    flex-grow: 1;
    margin-top: 20px;
    margin: 20px 20px 0 20px;
    height: calc(100vh - 140px);
    background: var(--white);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-chat {
      padding: 2rem 2.8125rem 1.25rem 2.8125rem; // 32px 45px 20px 45px
      box-sizing: border-box;

      box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.08);

      .input-and-arrow {
        gap: 12px;
        position: relative;
        input {
          width: 100%;
          border-radius: 1.875rem; // 30px
          padding: 0.9375rem 1.25rem; // 15px 20px
          border: 0.0625rem solid var(--light-purple); // 1px
          outline: none;
          cursor: pointer;

          &::placeholder {
            font-size: 18px;
          }
        }
        .arrow-box {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          aspect-ratio: 1/1;
          cursor: pointer;
        }
        .arrow-box-true {
          pointer-events: none;
        }
      }
    }
  }
}

.title {
  margin-bottom: 1.25rem; // 20px
}

.dropdown {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  max-height: 10vh;
  overflow: auto;
  z-index: 100;
  position: absolute;
  top: 250px;
  p {
    color: #686868;
    font-size: 13px;
    padding: 10px;
  }
}

.search-channel,
.search-user {
  h3 {
    padding-left: 10px;
  }
}

.searched-user-result {
  display: flex;
  img {
    width: 30px;
    border-radius: 100%;
    height: 30px;
  }
}

.searched-channel-result,
.searched-user-result {
  &:hover {
    background-color: #c4c2c2;
    cursor: pointer;
  }
}

app-message-layout {
  position: relative;
  margin-top: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  max-height: 60vh;
  margin-bottom: 38px;
}

.message-box {
  position: relative;
  padding: 0 35px 40px 35px;
  width: 100%;
  box-sizing: border-box;
}

.textarea-with-addons {
  height: 145px;
  textarea {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    resize: none;
    border-radius: 20px;
    border: 1px solid var(--ligth-purple-lines, #adb0d9);
    min-height: 100%;
    max-height: 100%;
    font-size: 18px;
    padding: 20px 20px 60px 20px;
    caret-color: auto;
    outline: none;
    position: relative;
  }
}

.suggest-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.add-ons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 55px 60px 55px;
  box-sizing: border-box;
  img {
    cursor: pointer;
  }
  .add-ons-left {
    display: flex;
    gap: 5px;
    img {
      width: 24px;
      height: 24px;
      gap: 5px;
    }
  }
  .send {
    width: 30px;
    height: 30px;
  }
}

.vertical-divider {
  width: 1px;
  height: 22px;
  margin: 0 5px;
  background-color: #adb0d9;
}

emoji-mart {
  max-height: 30rem;
  max-width: 25rem;
  overflow: auto;
  position: absolute;
  bottom: 20px;
}

.mentioned-users {
  color: var(--primary);
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.mentioned-users-container {
  height: 13vh;
  overflow: auto;
}

.members-field {
  padding: 0 0 0.9375rem 0; // 15px
  cursor: default;
}

#channelsField,
#membersField {
  display: flex;
  align-items: flex-start;
  max-width: calc(100% - 2.5rem);
  overflow-x: hidden;
  overflow-y: auto;
  height: 95px;
  display: none;
}

.member-scroll-box {
  gap: 0.9375rem; // 15px
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 5.9375rem; // 95px
  overflow-y: auto;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.375rem; // 150px
  cursor: default !important;
}

.deleteMember {
  width: 1.875rem; // 30px
  height: 1.875rem; // 30px
  background: url("./../../assets/img/cross-black.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-size: 1.0625rem; // 17px
  margin-left: 0.3125rem; // 5px

  &:hover {
    background: url("./../../assets/img/cross-blue.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.1875rem; // 19px
  }
}

.addedMembers {
  padding: 0.1875rem 1.25rem; // 3px 20px
  border-radius: 2.1875rem; // 35px
  background-color: var(--background-color);
  height: 2.5rem; // 40px
  box-sizing: border-box;
}

.profile-img-small {
  width: 2.125rem; // 34px
  height: 2.125rem; // 34px
  border-radius: 50%;
  margin-right: 0.9375rem; // 15px
  cursor: default;
}

.input-slide-down {
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDownDropdown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.members-list-box {
  margin: 0.9375rem 0; // 15px
  animation: slideDownDropdown 0.5s ease forwards;

  .members-list-scroll-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 12.5rem; // 200px
    gap: 0.8125rem; // 13px
  }

  .members-list {
    display: flex;
    gap: 0.9375rem; // 15px
    cursor: pointer;
    padding: 0.25rem 1.25rem; // 4px 20px
    border-radius: 1.875rem; // 30px
    margin-right: 0.25rem; // 4px

    &:not([style*="--primary"]) {
      &:hover {
        background-color: var(--background-color) !important;
      }
    }
  }
}

.profile-img-and-status {
  width: 3.125rem; // 50px
  height: 3.125rem;
  position: relative;

  .profile-img {
    height: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .status {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid var(--background-color);
    border-radius: 100%;
    width: 0.875rem; // 14px
    height: 0.875rem; // 14px
  }
}

.userName {
  cursor: pointer !important;
}
