<div class="popup" (click)="closeSelectMemberDialog()">

    <div class="dFlex spaceBetween">
        <h4 class="bold">Channel erstellen</h4>
        <div class="icon-size-24 cross-icon" (click)="this.dialogRef.close();">
        </div>
    </div>

    <div class="horicontal" (click)="toggleCheckbox('all')">
        <img [src]="checkboxAddAll ? './../../../assets/img/dot-checked.png' : './../../../assets/img/dot-unchecked.png'"
            class="icon-size-20">
        <span class="fs18">Alle Mitglieder von <span style="color: var(--purple)">Office Team</span> hinzufügen</span>
    </div>

    <div class="horicontal" (click)="toggleCheckbox('specific')">
        <img [src]="checkboxAddSpecific ? './../../../assets/img/dot-checked.png' : './../../../assets/img/dot-unchecked.png'"
            class="icon-size-20">
        <span class="fs18">Bestimme Leute hinzufügen</span>
    </div>

    <div class="input-box" *ngIf="checkboxAddSpecific">
        <input placeholder="Name eingeben" [ngClass]="{'input-slide-down': checkboxAddSpecific}"
            (click)="selectMemberBehaviour($event)" [attr.placeholder]="memberService.selectedUserName ? '' : 'Name eingeben'">
            <div id="inputField">
                <div class="dFlex spaceBetweenMembers">
                    <div *ngFor="let user of memberService.selectedUsers" class="addedMembers">
                        <div class="horicontal">
                            <img [src]="user.profileImg" class="profile-img-small" alt="Profilbild">
                            <span class="fs18 userNameInputField">{{ user.name }}</span>
                            <div class="deleteMember"></div>
                        </div>
                    </div>
                </div>

            </div>
    </div>

    <div class="dFlex spaceBetween">
        <div></div>
        <button class="create" (click)="addNewChannel()" [disabled]="!checkboxAddAll && !checkboxAddSpecific">Erstellen</button>
    </div>
</div>