<div class="popup">

    <div class="dFlex spaceBetween">
        <h4 class="bold">Channel erstellen</h4>
        <div class="icon-size-24 cross-icon" (click)="this.dialogRef.close();">
        </div>
    </div>

    <div class="horicontal" (click)="toggleCheckbox('all')">
        <img [src]="checkboxAddAll ? './../../../assets/img/dot-checked.png' : './../../../assets/img/dot-unchecked.png'"
            class="icon-size-20">
        <span class="fs18">Alle Mitglieder von <span style="color: var(--purple)">Office Team</span> hinzufügen</span>
    </div>

    <div class="horicontal" (click)="toggleCheckbox('specific')">
        <img [src]="checkboxAddSpecific ? './../../../assets/img/dot-checked.png' : './../../../assets/img/dot-unchecked.png'"
            class="icon-size-20">
        <span class="fs18">Bestimme Leute hinzufügen</span>
    </div>

    <div class="input-box" *ngIf="checkboxAddSpecific">
        <input placeholder="Name eingeben" [ngClass]="{'input-slide-down': checkboxAddSpecific}"
            (click)="selectMember()">
    </div>

    <div class="dFlex spaceBetween">
        <div></div>
        <button class="create" (click)="addNewChannel()">Erstellen</button>
    </div>
</div>