.message-box {
  position: relative;
  padding: 0 35px 40px 35px;
  width: 100%;
  box-sizing: border-box;
}

.textarea-with-addons {
  height: 145px;
  textarea {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    resize: none;
    border-radius: 20px;
    border: 1px solid var(--ligth-purple-lines, #adb0d9);
    min-height: 100%;
    max-height: 100%;
    font-size: 18px;
    padding: 20px 20px 60px 20px;
    caret-color: auto;
    outline: none;
    position: relative;
  }

  .add-ons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 55px 60px 55px;
    width: 100%;
    box-sizing: border-box;
    img {
      cursor: pointer;
    }
    .add-ons-left {
      display: flex;
      gap: 5px;
      img {
        width: 24px;
        height: 24px;
        gap: 5px;
      }
    }
    .send {
      width: 30px;
      height: 30px;
    }
  }
}

.suggest-profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.vertical-divider {
  width: 1px;
  height: 22px;
  background-color: #adb0d9;
}

emoji-mart {
  position: absolute;
  max-height: 30rem;
  max-width: 25rem;
  overflow: auto;
  bottom: 190px;
  left: 50px;
}

.mentioned-users {
  color: var(--primary);
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.mentioned-users-container {
  height: 13vh;
  overflow: auto;
}

@media (max-width: 980px) {
  .message-box {
    padding: 0 16px 30px 16px;
  }
  .add-ons[_ngcontent-ng-c1443678860] {
    padding: 0 36px 50px 36px !important;
}
}
