<div class="message-box">
  <div class="selected-file" *ngIf="selectedFile">
    Selected file: {{ selectedFile.name }}
  </div>
  <div *ngIf="mentionedUsers.length > 0" class="mentioned-users-container">
    <div *ngFor="let user of mentionedUsers" (click)="selectMention(user)" class="mentioned-users">
      {{ user }}
    </div>
  </div>
  <textarea
    class="textarea"
    placeholder="Nachricht an #Entwicklerteam"
    [(ngModel)]="textArea"
    (input)="suggestUsers(); onTextAreaChange()"
  ></textarea>

  <div class="add-ons">
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileInput
      style="display: none"
    />
    <img
      matTooltip="Add Image"
      src="../../../assets/img/add.png"
      class="add"
      (click)="fileInput.click()"
    />
    <mat-divider class="vertical-divider"></mat-divider>
    <img
      matTooltip="Open the emoji"
      class="emoji"
      src="../../../assets/img/emoji.png"
      (click)="toggleEmojiPicker()"
    />
    <emoji-mart
      class="emoji-mart"
      *ngIf="isEmojiPickerVisible"
      (emojiSelect)="addEmoji($event)"
      title="Choose your emoji"
    ></emoji-mart>
    <img
      matTooltip="mention someone"
      src="../../../assets/img/at-grey.png"
      alt=""
      class="mention"
    />

    <img
      matTooltip="Send"
      src="../../../assets/img/send-dark-blue.png"
      alt=""
      class="send"
      (click)="sendMessage()"
    />
  </div>
</div>
