<div class="members-list-box" *ngIf="checkboxAddSpecific" (click)="stopClose($event)">
    <div class="members-list-scroll-box scroll-bar">
        <div class="members-list horicontal" (click)="!isUnClickableUser(user.userId) && selectUser(user)"
        *ngFor="let user of firebase.usersArray"
        [style.background-color]="user.selected ? 'var(--primary)' : 'white'"
        [id]="'filter_' + user.userId">

            <div class="profile-img-and-status" *ngIf="isMatchingFilter(user)">
                <div [style.background-image]="'url(' + user.profileImg + ')'" class="profile-img"></div>
                <img [src]="user.status ? './../../../assets/img/online.png' : './../../../assets/img/offline.png'"
                    class="status">
            </div>
            <span *ngIf="isMatchingFilter(user)" class="fs18 userName maxNameLenth">{{ user.name }}</span>

    </div>
    </div>
</div>