<ng-container *ngFor="let messageGroup of groupedMessages">
  <div class="sent-date">
    <mat-divider class="one-divider"></mat-divider>
    <div class="btn-date">
      <button>{{ formatMessageDate(messageGroup.date) }}</button>
    </div>
  </div>
  <div
    class="message-card"
    *ngFor="let message of messageGroup.messages"
    [ngClass]="{
      'current-user': message.senderId === userId,
      'other-user': message.senderId !== userId
    }"
  >
    <div>
      <div
        class="content-container"
        (mouseenter)="toggleHoverOptions(message.messageId, true)"
        (mouseleave)="toggleHoverOptions(message.messageId, false)"
      >
        <div class="card-content column"
        [ngStyle]="{ 'align-items': firebase.loggedInUserId === message.senderId ? 'flex-end' : 'flex-start' }"
        >
          <div class="time-name">
            <span class="fs14 bold">{{ message.time | date : "HH:mm" }}</span>
            <span
              class="fs18 bold name-in-chat"
              (click)="showProfile(message.name)"
              >{{ message.name }}</span
            >
          </div>
          <img
            class="message-image"
            [src]="message.messageImage"
            alt="Message Image"
            *ngIf="message.messageImage"
          />

          <div
            class="message"
            *ngIf="
              !isEditEnabled[message.messageId] && message.message.length > 0
            "
          >
            <div *ngFor="let msg of message.message">
              <div *ngIf="msg.trim() !== ''">{{ msg }}</div>
            </div>
          </div>

          <div class="emoji-reaction" *ngIf="!isEditEnabled[message.messageId]">
            <img
              src="../../../assets/img/add-reaction.png"
              (click)="toggleEmojiPicker(message.messageId)"
              alt=""
            />
            <div class="reactions-container">
              <button
                *ngFor="let reaction of message.reactions | keyvalue"
                class="reactions"
                (click)="toggleReaction(message, reaction.key)"
              >
                <span class="emoji-in-chat">{{ reaction.key }}</span
                ><span class="counter">{{ reaction.value.count }}</span>
              </button>
            </div>

            <emoji-mart
              class="emoji-mart"
              *ngIf="isEmojiPickerVisible[message.messageId]"
              title="Choose your emoji"
              (emojiClick)="onEmojiClick($event, message)"
            ></emoji-mart>

          </div>

          <div
            class="edit-message-popup"
            *ngIf="isEditingEnabled[message.messageId]"
          >
            <p (click)="toggleToTextArea(message.messageId)">
              Nachricht Bearbeiten
            </p>
          </div>

          <!-- Inside your message-layout.component.html file -->
          <div class="edit-message" *ngIf="isEditEnabled[message.messageId]">
            <textarea
              [(ngModel)]="editedMessage[message.messageId]"
              rows="3"
              cols="50"
              class="custom-textarea scroll-bar"
              >{{ getMessageText(message.messageId) | async }}</textarea
            >
            <div class="edit-text-buttons">
              <button
                (click)="cancelEdit(message.messageId)"
                class="edit-cancel"
              >
                Abbrechen
              </button>
              <button
                class="edit-save"
                (click)="saveEditedMessage(message.messageId)"
              >
                Speichern
              </button>
            </div>
          </div>
        </div>
        <div class="hover-options" *ngIf="isHovered[message.messageId]">
          <img
            src="../../../assets/img/add-reaction.png"
            (click)="toggleEmojiPicker(message.messageId)"
            alt=""
          />
          <img
            *ngIf="message.senderId === userId"
            src="../../../assets/img/three-dots-vertical.png"
            alt=""
            (click)="toggleEditMessage(message.messageId)"
          />
        </div>
        <img
          class="card-profile-img"
          [src]="message.image"
          alt="User Image"
          (click)="showProfile(message.name)"
        />
      </div>
    </div>
  </div>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
