<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
  </div>

  <div class="login-wrapper">
    <div class="login-container">
      <a class="arrow-left" (click)="goBack()">
        <div class="arrow-left-img"></div>
      </a>
      <div class="login-header">
        <h1>Impressum</h1>
        <h3>
          [Student Names List]<br>[Address of the DABubble operator - e.g. one of
          the students]<br>[Postcode and city]
        </h3>
      </div>

      <div class="login-header">
        <h2>Contact</h2>
        <h3>
            Email: [Deine email]
        </h3>
      </div>
    </div>

    <div class="imprint-wrapper" (click)="openPolicy()">
        <a class="policy">Datenschutz</a>
      </div>
  </div>
</div>
