.container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: "Nunito" !important;
    gap: 24px;
    max-width: 1440px;
}

.content {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .logo {
        object-fit: contain;
    }
}

.choose-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    .choose-avatar-container {
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
        max-width: 486px;
        padding: 2rem 2.3rem 2rem 2.3rem;
        position: relative;

        .arrow-left {
            position: absolute;
            top: 2.7125rem;
            left: 1rem;
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-left-img {
                width: 24px;
                height: 24px;
                background-image: url('./../../../../assets/img/arrow-left-light.png');
            }

            &:hover {
                background-color: #eceefe;

                .arrow-left-img {
                    background-image: url('./../../../../assets/img/arrow-left-light-blue.png');
                }
            }
        }

        .choose-avatar-header {
            text-align: center;

            h1 {
                color: var(--primary);
                font-weight: 700;
                margin-bottom: 2rem;
                margin-left: 1.3rem;
            }

        }
    }
}

.choose-avatar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.6rem;
    gap: 2rem;

    .profile-img {
        display: flex;
        justify-content: center;

        img {
            width: 136px;
            height: 136px;
            border: .3125rem solid transparent;

            &:hover {
                scale: 1.02;
                border-radius: 100%;
                border: .3125rem solid #68686836;
            }
        }
    }
}

.name-avatar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .user {
        align-self: stretch;
        color: #000;
        text-align: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    span {
        color: #000;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
    }

    .avatars {
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: .625rem;

        img {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            cursor: pointer;
            border: .1875rem solid transparent;

            &:hover {
                scale: 1.02;
                border-radius: 100%;
                border: .1875rem solid #68686836;
            }
        }
    }
}

.upload-img {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;

    span {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }

    a {
        display: flex;
        padding: .75rem 1.5625rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 25px;
        border: 1px solid var(--Purple-2, #797EF3);

        &:hover {
            color: white;
            background-color: var(--primary);
        }
    }
}

.login-methods {
    margin-top: 2rem;

    .login-btns-div {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1.6rem;
        justify-content: flex-end;

        button {
            border-radius: 5rem;
            font-size: 1.125rem;
            padding: 0.9rem 1rem;
            border: none;
            outline: none;
            color: white;
            font-weight: 700;
            cursor: pointer;
        }

        .login-btn {
            display: flex;
            padding: .75rem 1.5625rem;
            justify-content: center;
            align-items: center;
            gap: .625rem;
            background-color: var(--primary);

            &:hover {
                background-color: #797EF3;
            }
        }
    }
}

.imprint-wrapper {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    color: var(--secondary);
    font-size: 1.125rem;
    align-items: center;

    button {
        text-decoration: none;
        color: var(--secondary);
        cursor: pointer;
        box-sizing: border-box;
        padding: .625rem .9375rem;
        border: .0625rem solid transparent;
        background-color: var(--background-color);
        font-size: 18px;

        &:hover {
            border: 1px solid #686868;
            color: var(--primary);
            border-radius: 1.875rem;
        }
    }
}

@media (max-width: 701px) {
    .header {
        justify-content: center;

        img {
            margin-top: 3rem;
        }
    }
}

@media (max-width: 600px) {
    .imprint-wrapper {
        display: none;
    }

    .choose-avatar-wrapper {
        height: 65%;

        h1 {
            font-size: 2rem;
        }

        .arrow-left {
            top: 1rem !important;
        }
    }

    .choose-avatar-container {
        width: 24.875rem;
        padding: 1rem 1.3rem 1rem 1.3rem !important;
    }

    .choose-avatar-content {
        .avatars {
            gap: 0.325rem !important;

            img {
                width: 3.5rem;
                height: 3.5rem;

            }
        }

        .upload-img {
            gap: 1.25rem;
        }
    }
}

@media (max-width: 500px) {
    .choose-avatar-container {
        width: 21.875rem;

    }

    .avatars {
        overflow-x: scroll;
        width: -webkit-fill-available;
        justify-content: start !important;
        gap: 0.425rem;
    }

    .upload-img {
        gap: 0.75rem !important;

        span {
            font-size: 1rem;
        }
    }
}

@media (max-width: 400px) {
    .container {
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 2rem !important;
    }

    .header {
        margin-top: 1rem !important;

        img {
            width: 80% !important;
        }
    }

    .choose-avatar-wrapper {
        height: 100%;
    }

    .choose-avatar-container {
        width: 17.875rem;
    }

    .profile-img {
        img {
            width: 7.5rem !important;
            height: 7.5rem !important;
        }
    }
}