<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
    <div class="register-container">
      Neu bei DABubble?
      <a routerLink="/register">Konto erstellen</a>
    </div>
  </div>

  <!-- Intro -->
  <div [@backgroundAnimation]="backgroundState" [class.none]="setNone" class="start-animation">
    <div class="content" [@moveAnimation]="moveState">
      <img [@slideAnimation]="svgTransform" src="../../assets/img/Logo.svg" />
      <div class="text">
        <span [@textAnimation]="textState">DABubble</span>
      </div>
    </div>
  </div>

  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-header">
        <h1>Anmeldung</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
          Arbeit verwendest.</span>
      </div>
      <form class="form-login" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="email-field">
          <input class="email" type="email" placeholder="beispielname@gmail.com" matInput formControlName="email" />
          <img src="../../../assets/img/mail-grey.png" />
          <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
            *Diese E-Mail-Adresse ist leider ungültig.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">
            Please enter the correct Email
          </mat-error>
        </div>

        <div class="password-field">
          <input type="password" placeholder="Passwort" matInput formControlName="password" />
          <img src="../../../assets/img/lock-grey.png" />
          <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
            Falsches Passwort. Bitte noch einmal versuchen.
          </mat-error>
        </div>


        <div class="forgot-password">
          <a routerLink="/forgot">Passwort vergessen?</a>
        </div>

        <div class="login-divider">
          <mat-divider></mat-divider>
          <span>ODER</span>
          <mat-divider></mat-divider>
        </div>
        <div class="login-methods">
          <div class="google-btn-div" id="google-btn">
            <div class="google-login">
              <img src="../../../assets/img/Google.png" alt="" />
              <span>Anmelden mit Google</span>
            </div>
          </div>
          <div class="login-btns-div">
            <button type="submit" class="login-btn">Anmelden</button>
            <button (click)="loginAsGuest()" class="guest-login">Gäste-Login</button>
          </div>
        </div>
        <div></div>
      </form>
    </div>

    <!-- Mobiles Ansicht -->

    <div class="register-container-mobile">
      Neu bei DABubble?
      <a routerLink="/register">Konto erstellen</a>
    </div>
    <!-- Imprint Data Policy -->
    <div class="imprint-wrapper">
      <a class="imprint">Impressum</a>
      <a class="policy">Datenschutz</a>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>