<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
    <div class="register-container">
      Neu bei DABubble?
      <a routerLink="/register">Konto erstellen</a>
    </div>
  </div>

    <!-- Intro -->
  <div
    [@backgroundAnimation]="backgroundState"
    [class.none]="setNone"
    class="start-animation"
  >
    <div class="content" [@moveAnimation]="moveState">
      <img [@slideAnimation]="svgTransform" src="../../assets/img/Logo.svg" />
      <div class="text">
        <span [@textAnimation]="textState">DABubble</span>
      </div>
    </div>
  </div>



</div>
