.container {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 0;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Nunito" !important;
  gap: 24px;
  max-width: 1440px;
}

.disabled-cursor {
  cursor: not-allowed !important;
}

.start-animation {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  display: none; // vorübergehend deaktiviert
}

.text {
  color: white;
  display: flex;
  align-items: center;
  font-size: 84px;
  overflow: hidden;
  height: 150px;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    span {
      font-size: 20px !important;
    }

    @media screen and (max-width: 480px) {
      span {
        font-size: 14px !important;
      }
    }
  }
}

.low-opacity-background {
  opacity: 0.6;
  transition: opacity 225ms ease-in-out;
}

.spinner {
  position: absolute;
  top: 50%;
}

.content {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    @media screen and (max-width: 768px) {
      width: 50%;
    }

    @media screen and (max-width: 480px) {
      .content {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    max-width: 50%;
  }
}

.start-animation.none {
  display: none;
}

.header {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  .logo {
    object-fit: contain;
  }
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.625rem;
  font-size: 1.125rem;

  a {
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid transparent;
    margin-right: -0.9375rem;

    &:hover {
      border: 1px solid #686868;
      color: var(--primary);
      border-radius: 1.875rem;
    }
  }
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .login-container {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    max-width: 606px;
    padding: 2rem 2.3rem 2rem 2.3rem;
    box-sizing: border-box;
    min-width: 606px;

    .login-header {
      text-align: center;

      h1 {
        color: var(--primary);
        font-weight: 700;
        margin-bottom: 2rem;
      }

      span {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1.6rem;

      input {
        border-radius: 5rem;
        background-color: #eceefe;
        outline: none;
        border: none;
        padding: 1.125rem 1.125rem;
        font-size: 1rem;
        font-family: var(--main-font);
        text-indent: 3.375rem;
        width: 100%;
        border: 0.0625rem solid transparent;

        &:hover {
          border: 0.0625rem solid #686868;
        }

        &:focus {
          border: 0.0625rem solid #535af1;
        }
      }

      .email-field,
      .password-field {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        img {
          position: absolute;
          left: 2rem;
        }
      }
    }

    .forgot-password {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-decoration: none;

        padding: 0.3125rem 0.9375rem;
        width: 200px;

        color: var(--secondary);

        &:hover {
          color: var(--primary);
          border-radius: 1.875rem;
          background-color: #eceefe;
          font-weight: 700;
        }
      }
    }

    .login-divider {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      mat-divider {
        width: 100%;
      }

      span {
        padding: 0 15px;
      }
    }

    .login-methods {
      margin-top: 2rem;

      .google-btn-div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        border-radius: 5rem;
        border: 1px solid transparent;
        cursor: pointer;

        .google-login {
          display: flex;
          align-items: center;
          padding: 8px 12px;
          gap: 1.25rem;

          span {
            font-size: 1.125rem;
            color: var(--primary);
          }
        }

        &:hover {
          border: 1px solid var(--primary);

          font-weight: 700;
          color: var(--primary);
        }
      }

      .login-btns-div {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        button {
          border-radius: 5rem;
          font-size: 1.125rem;
          padding: 0.9rem 1rem;
          border: none;
          outline: none;
          color: white;
          font-weight: 700;
          cursor: pointer;
        }

        .login-btn {
          background-color: var(--primary);
          min-width: 137px;

          &:hover {
            background-color: #797ef3;
          }
        }

        .guest-login {
          border: 1px solid var(--primary);
          background-color: transparent;
          color: var(--primary);
          min-width: 137px;

          &:hover {
            background-color: var(--primary);
            color: white;
          }
        }
      }
    }
  }
}

.imprint-wrapper {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  color: var(--secondary);
  font-size: 1.125rem;
  align-items: center;

  button {
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid transparent;
    background-color: var(--background-color);
    font-size: 18px;

    &:hover {
      border: 1px solid #686868;
      color: var(--primary);
      border-radius: 1.875rem;
    }
  }
}

.pop-successful-login {
  position: absolute;
  background-color: var(--primary);
  color: white;
  min-width: 10rem;
  padding: 10px;
  border-radius: 20px 0 20px 20px;
  bottom: 5rem;
  right: 5rem;
  h1 {
    font-size: 1rem;
  }
}

mat-error {
  color: red;
  position: absolute;
  bottom: -20px;
  font-size: 0.7rem;
}

.register-container-mobile {
  flex-direction: column;
  gap: 0.625rem;
  font-size: 1.125rem;
  margin-top: 2rem;
  display: none;
  a {
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.625rem 0.9375rem;
    border: 0.0625rem solid transparent;
    margin-right: -0.9375rem;

    &:hover {
      border: 1px solid #686868;
      color: var(--primary);
      border-radius: 1.875rem;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 0.9375rem !important;
  }

  .login-container {
    min-width: 90vw !important;
    max-width: 90vw !important;
    padding: 2.1875rem 1.25rem 2.1875rem 1.25rem !important;
  }

  .form-login {
    margin-top: 1.25rem !important;
  }

  .login-header {
    span {
      font-size: 18px !important;
    }
  }

  input {
    padding: 0.8125rem 2rem !important;
  }

  .password-field {
    margin-bottom: 0 !important;
  }

  .header {
    img {
      height: 48px;
    }
  }

  .forgot-password {
    a {
      margin-top: 1.5625rem !important;
      margin-bottom: 1.5625rem !important;
    }
  }

  .login-methods {
    margin-top: 1.375rem !important;
  }

  .google-login {
    padding: 6px 12px !important;
  }

  .login-btns-div {
    margin-top: 1.25rem !important;
  }

  .container {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .register-container {
    a {
      padding: 8px 10px !important;
    }
  }

  .header {
    min-width: 90vw;
    max-width: 90vw;
  }

  .imprint-wrapper {
    margin-top: 0.75rem;
  }
}

@media (max-width: 400px) {
  .header {
    display: flex;
    align-items: center;
    img {
      height: 40px !important;
    }
  }

  .google-login {
    gap: 5px !important;
    img {
      width: 24px;
    }
  }

  .password-field,
  .email-field {
    img {
      width: 20px;
      height: 20px;
      left: 1rem !important;
    }
  }

  input {
    text-indent: 30px !important;
    padding: 8px 16px !important;
  }

  .login-btns-div {
    gap: 10px !important;
  }

  .login-btn,
  .guest-login {
    padding: 8px 6px !important;
    min-width: 118px !important;
  }

  .text-above-register {
    display: none;
  }

  .register-container {
    a {
      margin-right: 0;
    }
  }
}

@media (max-height: 1000px) {
  .imprint-wrapper {
    margin-top: 1.5rem;
  }
  .login-header {
    span {
      display: none;
    }
  }

  .header {
    margin-top: 1.5rem;
  }
}

// @media (max-width: 701px) {
//   .container {
//     gap: 0;
//     padding-left: 0;
//     padding-right: 0;
//   }
//   .register-container-mobile {
//     display: flex;
//     margin-top: 3rem;
//     align-items: baseline;
//     a {
//       border: 1px solid var(--primary);
//       border-radius: 30px;
//       text-align: center;
//     }
//   }
//   .imprint-wrapper {
//     display: none;
//   }
//   .register-container {
//     display: none;
//   }
//   .header {
//     justify-content: center;
//   }
//   .password-field {
//     margin-bottom: 0 !important;
//   }
// }

// @media (max-width: 600px) {
//   .login-container {
//     display: flex;
//     flex-direction: column;
//     width: 70%;
//     padding: 1rem 1.3rem 1rem 1.3rem !important;
//     margin-top: 1rem;
//   }

//   .header {
//     margin-top: 4rem;
//     img {
//       height: 56px;
//     }
//   }

//   form {
//     margin-top: 1rem;
//   }

//   .login-wrapper {
//     height: 80vh;
//   }

//   .login-header {
//     h1 {
//       margin-bottom: 1rem !important;
//       font-size: 1.875rem !important;
//     }

//     span {
//       font-size: 1rem !important;
//     }
//   }

//   mat-divider {
//     min-width: 140px !important;
//   }

//   .register-container-mobile {
//     margin-top: 2rem;
//   }

//   .forgot-password {
//     a {
//       margin-top: 1rem !important;
//       margin-bottom: 1rem !important;
//     }
//   }
//   .login-methods {
//     margin-top: 1rem !important;
//   }
//   .login-btns-div {
//     margin-top: 1rem !important;
//   }
// }

// @media (max-width: 520px) {
//   .login-container {
//     display: flex;
//     flex-direction: column;
//     width: 75%;
//   }

//   mat-divider {
//     min-width: 120px !important;
//   }
// }

// @media (max-width: 400px) {
//   .header {
//     margin-top: 1rem !important;
//   }

//   .container {
//     gap: 1rem !important;
//   }

//   mat-divider {
//     min-width: 90px !important;
//   }

//   .login-header {
//     h1 {
//       margin-bottom: 0 !important;
//     }
//     span {
//       font-size: 0.85rem !important;
//     }
//   }

//   .login-container {
//     width: 80% !important;
//     margin-top: 2rem !important;
//   }

//   .forgot-password {
//     a {
//       margin-top: 0.6rem !important;
//       margin-bottom: 0.6rem !important;
//     }
//   }
//   .email-field {
//     margin-bottom: 1rem !important;
//   }

//   form {
//     margin-top: 0.6rem !important;
//   }

//   .register-container-mobile{
//     margin-top: 1rem;
//     a{
//       padding: 0.3rem 1rem;
//     }
//   }
// .login-btn{
//   padding:0.45rem 1rem !important;
// }
// }
