<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/img/text-logo.png" />
    <div class="register-container">
      Neu bei DABubble?
      <a routerLink="/register">Konto erstellen</a>
    </div>
  </div>

  <!-- Intro -->
  <div
    [@backgroundAnimation]="backgroundState"
    [class.none]="setNone"
    class="start-animation">
    <div class="content" [@moveAnimation]="moveState">
      <img [@slideAnimation]="svgTransform" src="../../assets/img/Logo.svg" />
      <div class="text">
        <span [@textAnimation]="textState">DABubble</span>
      </div>
    </div>
  </div>

  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-header">
        <h1>Anmeldung</h1>
        <span
          >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
          Arbeit verwendest.</span
        >
      </div>
      <form class="form-login">
        <div class="email-field">
          <input
            class="email"
            type="email"
            placeholder="beispielname@gmail.com"
          />
          <img src="../../../assets/img/mail-grey.png" />
        </div>
        <div class="password-field">
          <input type="password" placeholder="Passwort" />
          <img src="../../../assets/img/lock-grey.png" />
        </div>
        <a href="#" class="forgot-password">Passwort vergessen?</a>
      </form>
      <div class="login-divider">
        <mat-divider></mat-divider>
        <span>ODER</span>
        <mat-divider></mat-divider>
      </div>
      <div class="login-methods">
        <div class="google-btn-div">
          <div class="google-login">
            <img src="../../../assets/img/Google.png" alt="" />
            <span>Anmelden mit Google</span>
          </div>
        </div>
        <div class="login-btns-div">
          <button class="login-btn">Anmelden</button>
          <button class="guest-login">Gäste-Login</button>
        </div>
      </div>
    </div>
    <!-- Imprint Data Policy -->
    <div class="imprint-wrapper">
      <a class="imprint">Impressum</a>
      <a class="policy">Datenschutz</a>
    </div>
  </div>
</div>
