.message-card {
  width: 100%;

  .btn-date {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border-radius: 30px;
      border: 1px solid #adb0d9;
      padding: 5px 15px;
      background: #fff;
    }
  }
}
.message-image {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.current-user {
  justify-content: flex-end;
}

.other-user .content-container {
  flex-direction: row-reverse;
}

.other-user .message {
  background-color: #eceeef;
  color: black;
  border-radius: 0px 30px 30px 30px;
  margin-left: 0;
}

.other-user .time-name {
  flex-direction: row-reverse;
}

.other-user .emoji-reaction{
  justify-content: flex-start;
}

.add-member {
  border-radius: 10px;
}

.card-profile-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 45px;
  margin-left: 30px;
}

.message {
  border-radius: 30px 0px 30px 30px;
  background-color: #797ef3;
  padding: 15px;
  max-width: 698px;
  margin-left: 30px;
  color: white;
}

.edit-message{
  display: flex;
}

.time-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  p {
    color: #686868;
  }
}

.content-container {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &:hover {
    background: #eceefe;
    transition: background 225ms ease-in-out;
  }
}

.sent-date {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  justify-content: space-between;

  .one-divider {
    width: 40%;

  }

  .two-divider {

    width: 40%;

  }
}

.emoji-reaction {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 10px;
  gap: 10px;
}

emoji-mart{
  position: absolute;
  bottom:32px;
  z-index: 9999;
}

.reactions-container{
  display: flex;
  gap: 10px;

  .reactions{
    border: 1px solid #8c91f7;
    background-color: transparent;
    border-radius: 10px;
  }
}

.current-user .hover-options{
  border: 1px solid #8c91f7;
  border-radius: 30px 00px 30px 30px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  bottom: 75px;
  right:300px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
}

.content-container:hover .hover-options {
  display: flex;
  opacity: 1;
}

.other-user  .hover-options{
  border: 1px solid #8c91f7;
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  bottom: 75px;
  left:300px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
}


.edit-message-popup{
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  bottom: 55px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  right: 250px;
  z-index: 10;
  p{
    font-weight: 900;
    font-size: 18px;

    &:hover{
      color: var(--primary);
      cursor: pointer;
    }
  }}

  .edit-message{
    display: flex;
    flex-direction: column;


    textarea{
      position: relative;
      padding: 40px;
      min-height: 10vh;
      cursor: text;
      caret-color:black;
      color: #686868;
      border: 1px solid var(--dark-purple);
      border-radius: 30px 0px 30px 30px;

      &:focus{
        outline: none;
      }
    }
    button{
      position: absolute;
      bottom: 5px;
      cursor: pointer;
    }
  }

  .edit-cancel{
    right: 38%;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color:var(--primary);

    &:hover{
      background-color: var(--primary);
      color: white;
      transition: background-color 225ms ease-in-out, color 225ms ease-in-out;
    }
  }

  .edit-save{
    right: 25%;
    background-color: var(--primary);
    color: white;
    border: transparent;
    border-radius: 20px;
    padding: 10px;

    &:hover{
      background-color: var(--dark-purple);
      transition:  background-color 225ms ease-in-out;
    }
  }
