.message-card {
  width: 100%;
}

.message-image {
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  object-fit: contain;
  background-color: #797ef3;
  padding: 8px;
  border-radius: 20px;
  box-sizing: border-box;
}

.current-user {
  justify-content: flex-end;
}

.other-user .content-container {
  flex-direction: row-reverse;
}

.other-user .message {
  background-color: #eceefe;
  color: black;
  border-radius: 0px 30px 30px 30px;
  margin-left: 0;

  @media (max-width: 780px) {
    max-width: 10rem;
  }
}

.thread-answer {
  a {
    color: var(--primary);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: flex;
    width: 102px;
    justify-content: center;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--primary);
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }
}

.other-user .time-name {
  flex-direction: row-reverse;
}

.other-user .emoji-reaction {
  justify-content: flex-start;
}

.add-member {
  border-radius: 10px;
}

.card-content {
  gap: 8px;
}

.card-profile-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 35px;
  margin-left: 35px;
  cursor: pointer;
}

.message {
  border-radius: 30px 0px 30px 30px;
  background-color: #797ef3;
  padding: 15px;
  max-width: 698px;
  margin-left: 30px;
  color: white;

  @media (max-width: 780px) {
    max-width: 10rem;
  }
}

.edit-message {
  display: flex;
}

.time-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 25px;
  .name-in-chat {
    cursor: pointer;
  }
}

.content-container {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &:hover {
    background: #eceefe;
    transition: background 225ms ease-in-out;
  }
}

.emoji-reaction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 10px;
  height: 34px !important;
  margin-bottom: 1px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

emoji-mart {
  position: absolute;
  bottom: 32px;
  z-index: 9999;
}

.reactions-container {
  display: flex;
  gap: 10px;
  height: 34px;
  padding: 0;

  .reactions {
    border: 1px solid #8c91f7;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    .emoji-in-chat {
      font-size: 18px;
    }
    .counter {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.current-user .hover-options {
  border: 1px solid #8c91f7;
  border-radius: 25px 25px 0 25px;
  bottom: 80px;
  left: 35px;
  display: none;
}

.content-container:hover .hover-options {
  display: flex;
  opacity: 1;
}

.other-user .hover-options {
  border: 1px solid #8c91f7;
  border-radius: 25px 25px 25px 0;
  bottom: 80px;
  right: 35px;
  display: none;
}

.hover-options {
  padding: 10px 20px;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
  gap: 20px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.edit-message-popup {
  border-radius: 30px;
  border: 1px solid #8c91f7;
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  left: 35px;
  z-index: 10;
  p {
    font-weight: 900;
    font-size: 18px;

    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }
}

.edit-message {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 375px;

  textarea {
    padding: 40px 40px 65px;
    min-height: 10vh;
    cursor: text;
    caret-color: black;
    color: #686868;
    border: 1px solid var(--dark-purple);
    border-radius: 30px 0px 30px 30px;
    resize: none;
    color: black;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .edit-text-buttons {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    button {
      cursor: pointer;
      width: 110px;
      font-size: 18px;
    }
  }
}

.edit-cancel {
  right: 380px;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);

  &:hover {
    background-color: var(--primary);
    color: white;
    transition: background-color 225ms ease-in-out, color 225ms ease-in-out;
  }
}

.edit-save {
  right: 250px;
  background-color: var(--primary);
  color: white;
  border: transparent;
  border-radius: 20px;
  padding: 10px;

  &:hover {
    background-color: var(--dark-purple);
    transition: background-color 225ms ease-in-out;
  }
}

.sent-date {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
  .one-divider {
    width: calc(100% - 35px * 2);
    position: absolute;
    left: 35px;
    right: 0;
    top: 50%;
    border-top-color: #adb0d9 !important;
  }
}

.btn-date {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border-radius: 30px;
    border: 1px solid #adb0d9;
    padding: 5px 15px;
    background: #fff;
    z-index: 0;
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  .sent-date {
    margin-bottom: 10px;
    margin-top: 10px;
    .one-divider {
      width: calc(100% - 16px * 2);
      left: 16px;
    }
  }

  .card-profile-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .message-image {
    max-width: 200px;
    max-height: 200px;
    padding: 6px;
  }

  .message {
    max-width: calc(100% - 40px) !important;
    min-width: calc(100% - 40px) !important;
  }

  .reactions-container {
    gap: 6px;
    overflow-x: auto;
    max-width: calc(100vw - 265px);
  }

  .reactions {
    padding: 5px 4px !important;
  }

  .textarea-with-addons {
    .add-ons {
      padding: 0 35px 50px 35px;
    }
  }

  .edit-message {
    width: 72vw;
    .edit-text-buttons {
      gap: 4px;

      button {
        font-size: 16px !important;
        padding: 4px;
        width: 100px;
      }
    }
  }

  .current-user .hover-options {
    left: 10px;
  }

  .other-user .hover-options {
    right: 10px;
  }

  .edit-message-popup {
    left: 10px;
  }
}
