
<div class="message-card">
  <div class="sent-date">
    <mat-divider class="one-divider"></mat-divider>
    <div class="btn-date">
      <button>Heute</button>
    </div>
    <mat-divider class="two-divider"></mat-divider>
  </div>
  <div class="content-container">
  <div class="card-content">
    <div class="time-name">
      <p>15:06 Uhr</p>
      <h3>Frederik Beck</h3>
    </div>

    <div class="message">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      blandit odio efficitur lectus vestibulum, quis accumsan ante
      vulputate. Quisque tristique iaculis erat, eu faucibus lacus iaculis
      ac.
    </div>
  </div>
  <img
    class="card-profile-img"
    src="../../assets/img/profile-2.png"
    alt=""
  />
</div>
</div>
