.thread-card {
  width: 100%;
  padding: 20px;
}

.selected-msg-container {
  display: flex;
  flex-direction: row-reverse;
  .thread-profile-img {

    margin-right: 45px;
    margin-left: 15px;
    img {
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }
  }
}

.other-user .selected-msg-container{
  flex-direction:row ;
}

.thread-messages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.thread-msg-container {
  display: flex;
  flex-direction: row-reverse;
  .thread-profile-img {
    width: 70px;
    height: 70px;
    margin-right: 45px;
    margin-left: 15px;
    img {
      border-radius: 100%;
    }
  }
}

.other-user .thread-msg-container {
  flex-direction: row;
}

.name-time {
  display: flex;
  align-items: center;
  gap: 30px;
  h3 {
    font-weight: 800;
  }
  p {
    color: #686868;
    font-size: 14px;
  }
}

.msg-content{
  display: flex;
    flex-direction: column;

}

.message {
  border-radius: 30px 0px 30px 30px;
  background-color: #797ef3;
  padding: 15px;
  max-width: 200px;
  margin-left: 30px;
  color: white;
}
.message-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-color: white;
}

.current-user {
  justify-content: flex-end;
}

.current-user .selected-msg-container .thread-msg-container {
  flex-direction: row;
}

.other-user .message {
  background-color: #eceeef;
  color: black;
  border-radius: 0px 30px 30px 30px;
  margin-left: 0;
}

.other-user .time-name {
  flex-direction: row-reverse;
}

.other-user .emoji-reaction {
  justify-content: flex-start;
}

.divider {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 30px;
  mat-divider {
    width: 60%;
  }

  p{
    font-size: 10px;
  }
}


.thread-message{

  &:hover{
    background: #eceefe;
    transition: background 225ms ease-in-out;
  }
}

.emoji-reaction {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 10px;
  gap: 10px;
}

emoji-mart{
  position: absolute;
  bottom:32px;
  z-index: 9999;
}
.reactions-container{
  display: flex;
  gap: 10px;

  .reactions{
    border: 1px solid #8c91f7;
    background-color: transparent;
    border-radius: 10px;
  }
}

.current-user .hover-options{
  border: 1px solid #8c91f7;
  border-radius: 30px 00px 30px 30px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  bottom: 75px;
  right:120px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
}

.other-user  .hover-options{
  border: 1px solid #8c91f7;
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  bottom: 75px;
  left:140px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
}

.thread-message:hover .hover-options {
  display: flex;
  opacity: 1;
}

.edit-message-popup{
  border-radius: 0px 30px 30px 30px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
  right: 250px;
  z-index: 10;
  p{
    font-weight: 900;
    font-size: 18px;

    &:hover{
      color: var(--primary);
      cursor: pointer;
    }
  }}

  .edit-message{
    display: flex;
    flex-direction: column;
    justify-content: end;


    textarea{
      position: relative;
      max-width: 200px;
      padding: 20px;
      min-height: 4vh;
      cursor: text;
      caret-color:black;
      color: #686868;
      border: 1px solid var(--dark-purple);
      border-radius: 30px 0px 30px 30px;

      &:focus{
        outline: none;
      }
    }
    button{
      position: absolute;
      cursor: pointer;
      margin-bottom: 5px;
    }
  }

  .edit-cancel{
    right: 235px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color:var(--primary);

    &:hover{
      background-color: var(--primary);
      color: white;
      transition: background-color 225ms ease-in-out, color 225ms ease-in-out;
    }
  }

  .edit-save{
    right: 140px;
    background-color: var(--primary);
    color: white;
    border: transparent;
    border-radius: 20px;
    padding: 10px;

    &:hover{
      background-color: var(--dark-purple);
      transition:  background-color 225ms ease-in-out;
    }
  }
