html,
body {
  height: 100%;
}

body {
  margin: 0;
  cursor: default;
  caret-color: transparent;
  font-family: "Nunito" !important;
  background-color: var(--background-color);
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --background-color: #eceefe;
  --primary: #444df2;
  --black: #000;
  --gray: #686868;
  --white: #fff;
  --secondary: #797ef3;
  --main-font: "Nunito";
  --third: #1381ff;
  --purple: #535af1;
  --dark-purple: #8a8ef5;
  --light-purple: #adb0d9;
}

.mat-drawer {
  box-shadow: unset;
}

app-login {
  display: flex;
  justify-content: center;
}

input {
  cursor: text;
  caret-color: auto;
}

a {
  text-decoration: none;
}

span,
button,
input {
  font-family: "Nunito";
  font-style: normal;
  line-height: normal;
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-size: 2.875rem; // 46px
}

h2 {
  font-size: 2rem; // 32px
}

h3 {
  font-size: 1.25rem; // 20px
}

h4 {
  font-size: 1.5rem; // 24px
}

h5 {
  font-size: 1.25rem; //20px
}

.fs18 {
  font-size: 1.125rem;
}

.icon-size-20 {
  width: 1.25rem; // 20px
  height: 1.25rem;
  cursor: pointer;
}

.icon-size-23 {
  width: 1.4375rem; // 23px
  height: 1.4375rem;
}

.icon-size-24 {
  width: 1.5rem; // 24px
  height: 1.5rem;
  cursor: pointer;
}

.icon-size-30 {
  width: 1.875rem; // 30px
  height: 1.875rem;
  cursor: pointer;
}

.icon-size-35 {
  width: 2.1875rem; // 35px
  height: 2.1875rem;
  cursor: pointer;
}

.icon-size-50 {
  width: 3.125rem; // 50px
  height: 3.125rem;
  cursor: pointer;
}

.dFlex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.textCenter {
  text-align: center;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horicontal {
  display: flex;
  align-items: center;
}

.vertical {
  display: flex;
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.boxShadow {
  box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.2);
}

.dNone {
  display: none !important;
}

// general dialog box-shadow
.mat-mdc-dialog-container,
.mdc-dialog__surface {
  box-shadow: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.2) !important;
}

// popup profile-dialogs and header dropdown:
.header-dropdown-menu .mat-mdc-dialog-container,
.header-dropdown-menu .mdc-dialog__surface,
.no-border-tr .mat-mdc-dialog-container,
.no-border-tr .mdc-dialog__surface {
  border-radius: 1.875rem 0 1.875rem 1.875rem !important;
  overflow: hidden !important;
}

// popup profile-dialogs and header dropdown:
.editChannelPopup .mat-mdc-dialog-container,
.editChannelPopup .mdc-dialog__surface,
.no-border-tl .mat-mdc-dialog-container,
.no-border-tl .mdc-dialog__surface {
  border-radius: 0 1.875rem 1.875rem 1.875rem !important;
  overflow: hidden !important;
}

// popup channels:
.add-members-popup .mat-mdc-dialog-container,
.add-members-popup .mdc-dialog__surface,
.add-channel-popup .mat-mdc-dialog-container,
.add-channel-popup .mdc-dialog__surface,
.border .mat-mdc-dialog-container,
.border .mdc-dialog__surface {
  border-radius: 1.875rem !important;
  overflow: hidden !important;
}

// select members at channel creation
.transparent-backdrop {
  background-color: transparent !important;
  pointer-events: none !important;
}

/* scroll */
.scroll-bar-transparent::-webkit-scrollbar-button:start:decrement,
.scroll-bar-transparent::-webkit-scrollbar-button:end:increment {
  background-size: 0 0 !important;
  background-image: none !important;
}

.scroll-bar-transparent::-webkit-scrollbar {
  width: 0 !important;
}

.scroll-bar::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.scroll-bar-transparent::-webkit-scrollbar-track,
.scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-bar-transparent::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 0;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #adb0d9;
  border-radius: 10px;
}

// max name length
.maxNameLenth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

// fonts:
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin-700italic.woff2") format("woff2");
}

simple-snack-bar {
  background-color: var(--secondary);
  padding-right: 0 !important;
  border-radius: 30px 0px 30px 30px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden !important;
  background-color: transparent !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden;
  display: contents;
}

textarea {
  max-height: 162px;
  min-height: 130px;
  max-width: 95%;
}

.desktop-view {
  height: calc(100vh - 95px) !important;
}

#cdk-overlay-7 {
  margin-top: 50px !important;
  border: 0 !important;
}

.test {
  background-color: green !important;
}

.addMembersRetrospectiveChannelPopup,
.addMembersRetrospectivePopup,
.editChannelPopup {
  max-width: 100vw !important;
}

.list-members-main-dialog {
  position: absolute !important;
  top: 215px !important;
  .userName {
    min-width: 245px !important;
  }
}

.header-dropdown-menu {
  position: absolute !important;
  top: 115px !important;
  right: 20px !important;
}

@media (max-width: 980px) {
  .main-chat,
  .private-chat-container,
  .thread-content {
    position: absolute;
    top: 80px;
    left: 0;
  }

  .sidenav-button {
    display: none !important;
  }

  .desktop-view {
    margin-bottom: 0 !important;
    justify-content: center;
  }

  .hideForMobile {
    display: none !important;
  }

  .list-members-main-dialog {
    top: 140px !important;
    max-width: 100vw !important;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center !important;
    .popup {
      padding: 20px 16px !important;
      width: 100% !important;
      .add-member-box {
        padding: 0.75rem 0.75rem !important;
        &:hover {
          background-color: white !important;
        }
        .add-member {
          background-color: var(--background-color) !important;
          background-size: 22px 16px !important;
          &:hover {
            color: var(--purple);
            background-image: url("./assets/img/add-person-hover.png") !important;
            background-size: 22px 16px !important;
          }
        }
      }
    }
    .userName {
      min-width: 70% !important;
    }
  }

  // popup profile-dialogs and header dropdown:
  .no-border-tr .mat-mdc-dialog-container,
  .no-border-tr .mdc-dialog__surface {
    border-radius: 1.25rem 0 1.25rem 1.25rem !important;
    overflow: hidden !important;
  }

  // popup profile-dialogs and header dropdown:
  .no-border-tl .mat-mdc-dialog-container,
  .no-border-tl .mdc-dialog__surface {
    border-radius: 0 1.25rem 1.25rem 1.25rem !important;
    overflow: hidden !important;
  }

  // popup channels:
  .border .mat-mdc-dialog-container,
  .border .mdc-dialog__surface {
    border-radius: 1.25rem !important;
    overflow: hidden !important;
  }

  .editChannelPopup {
    margin: 0 !important;
    max-width: 100vw !important;
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .editChannelPopup .mat-mdc-dialog-container,
  .editChannelPopup .mdc-dialog__surface {
    border-radius: 0 !important;
    overflow: hidden !important;
  }

  .addMembersRetrospectiveChannelPopup {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    .popup {
      width: 100vw !important;
      padding: 1.875rem 1rem 6.5625rem 1rem !important;
    }
    .top-nav-bar-mobile {
      display: flex !important;
      justify-content: center;
      .grey-bar {
        width: 62px;
        height: 6px;
        border-radius: 23px;
        background-color: #d9d9d9;
      }
    }
  }

  .add-members-popup .mat-mdc-dialog-container,
  .add-members-popup .mdc-dialog__surface,
  .addMembersRetrospectiveChannelPopup .mat-mdc-dialog-container,
  .addMembersRetrospectiveChannelPopup .mdc-dialog__surface {
    border-radius: 1.875rem 1.875rem 0 0 !important;
    overflow: hidden !important;
  }

  .header-dropdown-menu .mat-mdc-dialog-container,
  .header-dropdown-menu .mdc-dialog__surface {
    border-radius: 1.875rem 1.875rem 0 0 !important;
    overflow: hidden !important;
  }

  .header-dropdown-menu {
    position: absolute !important;
    top: calc(100vh - 315px) !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100vw !important;
    max-height: 315px !important;
    .popup {
      padding: 30px 26px !important;
      box-sizing: border-box;
      h4 {
        padding: 10px 30px !important;
        font-size: 20px !important;
      }
    }
  }

  .add-channel-popup .mat-mdc-dialog-container,
  .add-channel-popup .mdc-dialog__surface {
    border-radius: 0 !important;
  }

  .add-channel-popup {
    max-width: 100vw !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }

  .addMembersRetrospectivePopup {
    position: absolute !important;
    top: 140px !important;
    left: 15px;
    right: 15px;
    margin: 0 !important;
    .popup {
      width: 100% !important;
    }
  }

  .add-members-popup {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100vw !important;
  }
}
