html,
body {
    height: 100%;
}

body {
    margin: 0;
    cursor: default;
    caret-color: transparent;
    font-family: 'Nunito' !important;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --background-color: #ECEEFE;
    --primary: #444DF2;
    --black: #000;
    --white: #fff;
    --secondary: #797EF3;
    --main-font: 'Nunito';
}

app-login {
    display: flex;
    justify-content: center;
}

input {
    cursor: text;
    caret-color: auto;
}

a {
    text-decoration: none;
}

span,
button,
input {
    font-family: 'Nunito';
    font-style: normal;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-size: 2.875rem; // 46px
}

h2 {
    font-size: 2.111rem;
}

// 20, 32 sind sehr selten und sollten einzeln benutzt werden

h3 {
    font-size: 1.778rem;
}

h4 {
    font-size: 1.444rem;
}

h5 {
    font-size: 1.222rem;
}

// media query 768px
// 22 17 20 font sizes



// fonts:
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/nunito-v26-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/nunito-v26-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/nunito-v26-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/nunito-v26-latin-700italic.woff2') format('woff2');
}
