.container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: "Nunito" !important;
    gap: 24px;
    max-width: 1440px;
}

.header {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .logo {
        object-fit: contain;
    }
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    .login-container {
        background-color: white;
        border-radius: 1.5rem;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
        max-width: 486px;
        padding: 2rem 2.3rem 2rem 2.3rem;
        gap: 2rem; // 32px
        display:flex;
        flex-direction: column;

        .arrow-left {
            cursor: pointer;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-left-img {
                width: 24px;
                height: 24px;
                background-image: url('./../../../assets/img/arrow-left-light.png');
            }

            &:hover {
                background-color: #eceefe;

                .arrow-left-img {
                    background-image: url('./../../../assets/img/arrow-left-light-blue.png');
                }
            }
        }

        .login-header {

            h1, h2 {
                color: var(--primary);
                font-weight: 700;
                margin-bottom: 1rem; // 16px
            }

            span {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
    }
}

.imprint-wrapper {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    color: var(--secondary);
    font-size: 1.125rem;

    a {
        text-decoration: none;
        color: var(--secondary);
        cursor: pointer;
        box-sizing: border-box;
        padding: .625rem .9375rem;
        border: .0625rem solid transparent;

        &:hover {
            border: 1px solid #686868;
            color: var(--primary);
            border-radius: 1.875rem;
        }
    }
}