<div class="container">
    <div class="header">
      <img class="logo" src="../../assets/img/text-logo.png" />
    </div>
  
    <div class="login-wrapper">
      <div class="login-container">
        <a class="arrow-left" (click)="goBack()">
          <div class="arrow-left-img"></div>
        </a>
        <div class="login-header">
          <h1>Datenschutzerklärung</h1>
          <h3>
            ...
          </h3>
        </div>
      </div>
  
      <div class="imprint-wrapper" (click)="openImprint()">
        <a class="imprint">Impressum</a>
      </div>
    </div>
  </div>
  